{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <div class="container row">
        <div class="col-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th><a href="{{ path('empty_cart') }}" class="btn btn-primary">Delete all cart</a></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart %}

                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.product.price * item.qty }}</td>
                        <td>
                            <a href="{{ path('cart_add', {id:item.product.id}) }}" class="btn btn-success">+</a>
                            <a href="{{ path('cart_delete', {id:item.product.id}) }}" class="btn btn-warning">-</a>
                            <a href="{{ path('cart_delete_row', {id:item.product.id}) }}" class="btn btn-danger">X</a>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">Total :</td>
                    <td>{{ total }} €</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-4">
            {% if app.user %}
                {% if app.user.addresses|length == 0 %}
                    <p>Add an address to order</p>
                    <a href="{{ path('profile') }}">profile</a>
                {% else %}
                    {% for address in app.user.addresses %}
                        <div class="card m-2 p-2">
                            <p>{{ address.number }} {{ address.street }}, {{ address.zipcode }} {{ address.city }}</p>
                            <a href="{{ path('order', {id:address.id}) }}" class="btn btn-success">send to this address</a>
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                <p>Login to order</p>
                <a href="{{ path('login') }}" class="btn btn-primary">login</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
