{% extends 'base.html.twig' %}

{% block title %}La Nîmes'alerie{% endblock %}

{% block body %}

    <figure id="astrodog" class="row align-items-center justify-content-between mt-5">
        <img src="{{ asset('build/images/dog.png') }}" alt="chien astronaute" class="col-12 col-md-6">
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <p>
                Achetez le meilleur pour votre animal et participez aux programmes
                de l'armée américaine en envoyant Médor (ou Bubulle) dans l'espace
                !
            </p>
            <a href="#" class="btn" id="starship-btn">Je participe 🚀</a>
        </div>
    </figure>

    <div class="mt-5">
        <h2 class="fw-bold arvo">Nos produits phares</h2>
    </div>

    <div id="main-carousel" class="mt-5 mb-5">

        <div id="wrapper">
            <div id="carousel">
                <div id="content"></div>
            </div>
            <button id="prev">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
                </svg>
            </button>
            <button id="next">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
                </svg>
            </button>
        </div>

    </div>



        {#{% for product in products %}
            <div class="card m-3 p-3 col-3">
                <h3 class="">{{ product.name }}</h3>
                <p><strong>Catégorie : {{ product.category.name }}</strong></p>
                <div class="card-body">
                    <img src="{{ vich_uploader_asset(product, 'imageFile') }}" style="width:150px">
                    <h5 class="card-title">{{ product.price }} €</h5>
                </div>
                <div class="d-flex">
                    <a href="{{ path('show_product', {id:product.id}) }}" class="btn btn-primary me-1">Voir le produit</a>
                    <a href="{{ path('cart_add', {id:product.id}) }}" class="btn btn-primary me-1">Ajouter au panier</a>
                </div>

            </div>
        {% endfor %}#}


{% endblock %}
