{% extends 'base.html.twig' %}

{% block title %}La Nîmes'alerie{% endblock %}

{% block body %}

    <div class="row justify-content-center">

        {% for product in products %}
            <div class="card m-3 p-3 col-3">
                <h3 class="">{{ product.name }}</h3>
                <p><strong>Catégorie : {{ product.category.name }}</strong></p>
                <div class="card-body">
                    <h5 class="card-title">{{ product.price }} €</h5>
                </div>
                <div class="d-flex">
                    <a href="{{ path('show_product', {id:product.id}) }}" class="btn btn-primary me-1">Voir le produit</a>
                    <a href="{{ path('cart_add', {id:product.id}) }}" class="btn btn-primary me-1">Ajouter au panier</a>
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}
