{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-4">
            <div class="mt-5">
                <a href="{{ path('app_home') }}" class="btn btn-primary">Back</a>
            </div>
        </div>

        <div class="col-8 mt-5">
            <div>
                {{ form_start(form) }}

                <div class="mb-3">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'placeholder':'Titre de l\'article' }}) }}
                    {{ form_help(form.name) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'placeholder':'Description'}}) }}
                    {{ form_help(form.description) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price, {'attr': {'placeholder':'Prix'}}) }}
                    {{ form_help(form.price) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.category) }}
                </div>

                <div class="mb-3">
                    {{ form_row(form.imageFile) }}
                </div>

                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}