{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-2">
            <a href="{{ path('admin') }}" class="btn btn-primary">Retour</a>
        </div>

        <div class="col-8">
            <h2>Ajouter un produit</h2>
            <div>
                {{ form_start(form) }}

                <div class="mb-3">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name, {'attr': {'placeholder':'Titre de l\'article' }}) }}
                    {{ form_help(form.name) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'placeholder':'Description'}}) }}
                    {{ form_help(form.description) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.brand) }}
                    {{ form_widget(form.brand, {'attr': {'placeholder':'Marque du produit'}}) }}
                    {{ form_help(form.brand) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.quantity) }}
                    {{ form_widget(form.quantity, {'attr': {'placeholder':'Quantité'}}) }}
                    {{ form_help(form.quantity) }}
                </div>

                <div class="mb-3">
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price, {'attr': {'placeholder':'Prix'}}) }}
                    {{ form_help(form.price) }}
                </div>

{#                <div class="mb-3">#}
{#                    {{ form_widget(form.category) }}#}
{#                </div>#}

                <div class="mb-3">
                    {{ form_widget(form.subcategory) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(form.imageFile) }}
                </div>

                <div class="mb-3">
                    {{ form_widget(form.isActive) }}
                </div>

                <div class="d-flex flex-row">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}