{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <div class="row mt-5">

        <div class="col-2">
                <a href="{{ path('app_home') }}" class="btn btn-primary">Retour</a>
        </div>

        <div class="col-10 row">

            <div class="col-6">
                <img src="{{ vich_uploader_asset(product, 'imageFile') }}" style="width:250px">
                <div class="mt-2 d-flex">
                    {% if app.user %}
                        {{ form_start(form, {'action':path('new_comment', {id:product.id}) }) }}
                        {{ form_widget(form.title, {'attr': {'placeholder': 'Titre de l\'avis'}}) }}
                        {{ form_widget(form.content, {'attr': {'placeholder': 'Donnez votre avis !'}}) }}
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    {% endif %}
                </div>

                <div>
                    {% for comment in product.comments %}
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between">
                                {{ comment.user.username }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ comment.content }}</p>
                            </div>
                            <div>
                                <a href="{{ path('like_comment', {id:comment.id}) }}" class="like me-2 btn btn-{% if comment.isLikedBy(app.user) %}success{% else %}secondary{% endif %}">like <span class="count">{{ comment.likes|length }}</span></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-6">
                <p><strong class="card-text">{{ product.name }}</strong></p>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">{{ product.price }}€</p>

                    <a href="{{ path('delete_product', {id:product.id}) }}">supprimer le produit</a>
                    <a href="{{ path('edit_product', {id:product.id}) }}">éditer le produit</a>

                <a href="{{ path('cart_add', {id:product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                <a href="{{ path('like_product', {id:product.id}) }}" class="like me-2 btn btn-{% if product.isLikedBy(app.user) %}success{% else %}secondary{% endif %}">J'aime <span class="count">{{ product.likes|length }}</span></a>
            </div>
        </div>
    </div>
{% endblock %}