<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:wght@300;400;700&display=swap"
            rel="stylesheet"
    />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('like') }}
        {{ encore_entry_script_tags('nav') }}
        {{ encore_entry_script_tags('carousel') }}
        <script
                src="https://kit.fontawesome.com/06b712a2cc.js"
                crossorigin="anonymous"
        ></script>
    {% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div>
                <a class="d-flex align-items-baseline" href="{{ path('app_home') }}" id="logo-btn">
                    <img src="{{ asset('build/images/logo.jpg') }}" alt="logo" class="me-2" id="logo"/>
                    <h2 class="fw-bold">La Nîmes'alerie</h2>
                </a>
            </div>

            <div>
                <a href="{{ path('cart') }}" class="btn btn-nav fas-nav"><i class="fas fa-shopping-basket ms-4" id="basket"></i
                    > ({{ cart_service.count() }})</a>
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('admin') }}" class="btn btn-nav fas-nav"><i class="fas fa-user-cog"></i></a>
                    {% elseif 'ROLE_USER' in app.user.roles %}
                        <a href="{{ path('profile') }}" class="btn btn-nav fas-nav"><i class="fas fa-user ms-4" id="user"></i></a>
                    {% endif %}
                    <a href="{{ path('logout') }}" class="btn btn-nav fas-nav"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn">Connexion</a>
                    <a href="{{ path('app_register') }}" class="btn">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <nav class="container d-none d-md-flex justify-content-md-between">
        {% for category in cats.getCategories %}
            <a href="#" class="btn-nav">{{ category.name }}</a>
        {% endfor %}
    </nav>
</header>

<main>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>


<footer class="mt-5 p-5">
    <div class="container">
        <div class="row flex-wrap-reverse">
            <ul class="col-12 col-md-3 mt-3 my-md-0 text-center text-md-start" style="list-style: none">
                <li><h3><a href="#">Aides & informations</a></h3></li>
                <li><a href="#">Assistance</a></li>
                <li><a href="#">Suivi commande</a></li>
                <li><a href="#">Livraison & retour</a></li>
                <li><a href="#">Assurance décès</a></li>
            </ul>

            <ul class="col-12 col-md-3 my-3 my-md-0 text-center text-md-start" style="list-style: none">
                <li><h3><a href="#">Nos engagements</a></h3></li>
                <li><a href="#">Gestion des cookies</a></li>
                <li><a href="#">Engagements et qualités</a></li>
                <li><a href="#">Données personnelles et sécurité</a></li>
                <li><a href="#">Partenaires</a></li>
            </ul>

            <ul class="col-12 col-md-3 mt-3 my-md-0 text-center text-md-start" style="list-style:none">
                <li>La Nîmes'alerie sur les réseaux</li>
                <li>
                    <div class="d-flex">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </li>

            </ul>

            <!---------------- DEBUT FORM --------------->
            <form
                    action=""
                    class="col-12 col-md-3 my-3 my-md-0 text-center text-md-start"
            >
                <legend>
                    Inscrivez-vous à notre newsletter pour connaître toutes les
                    mises à jour, les offres spéciales et les dernières nouveautés !
                </legend>
                <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Votre adresse e-mail"
                />
            </form>
            <!---------------- FIN FORM --------------->
        </div>
        <!--------------- div .row -------------->
    </div>
    <!------------- div .container ------------>
</footer>

</body>
</html>
